.result-item {
  display: flex;

  padding: 1rem 0.5rem;

  border-bottom: 1px solid #ccc;
}
.result-item:hover {
  background-color: #fafafa;
}

.result-item-content {
  overflow: hidden;
  flex: 1;

  padding-left: 0.5rem;
}

.repo-meta {
  display: flex;
  align-items: center;

  margin-top: 0.5rem;
}
