body {
  box-sizing: border-box;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: inherit;
}

@keyframes placeholder-animation {
  0%,
  100% {
    background-image: linear-gradient(to right, #ccc, #ccc 10px, #999);
    background-position: 0 50%;
  }
  50% {
    background-image: linear-gradient(to right, #ccc, #ccc 10px, #999);
    background-position: 100% 50%;
  }
}
